name: Django CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.12.6]
    env:
      AZURE_ACCOUNT_NAME: ${{ vars.AZURE_ACCOUNT_NAME }}
      AZURE_ACCOUNT_KEY: ${{ vars.AZURE_ACCOUNT_KEY }}
      AZURE_CONTAINER: ${{ vars.AZURE_CONTAINER }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ffmpeg libsm6 libxext6  -y
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run mypy checks
        run: |
          mypy .
      - name: Run Tests
        run: |
          coverage run manage.py test
      - name: Output Coverage Report
        run: |
          coverage report
          echo ""
          echo "Coverage Summary:"
          coverage report | grep TOTAL
